* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  margin: 2em auto;
  border: 5px solid black;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-color: lightgray;
}

.form-container {
  border: 2px solid black;
  width: 10em;
  margin: 0.5em;
}

form {
  text-align: center;
  background-color: gray;
}

.radio-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

button {
  margin: 1em auto;
  padding: 0.1em;
  width: 10em;
}

.reset-button {
  height: 2em;
  margin: 1em auto;
  border: 1px solid rgb(0, 255, 0);
}

.reset-button:hover {
  background-color: rgb(66, 179, 66);
  color: black;
}

.generate-button {
  height: 2em;
}

.generate-button:hover {
  border: 1px solid black;
}

.number-input {
  margin-top: 1em;
}

.json-element {
  background-color: black;
  color: rgb(0, 255, 0);
  padding: 12px;
  margin: 1em;

  width: auto;
  max-height: 60vh;
  overflow: auto;
  font-size: 13px;
  line-height: 1.30769231;
  background-color: rgb(119, 119, 119);
  border-radius: 5px;
  scrollbar-color: var(--scrollbar) transparent;
  border: 1px solid grey;
  border-radius: 0.5em;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}

textarea {
  width: fit-content;
  overflow: auto;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-container button {
  margin: 1em auto;
  padding: 0.1em;
  width: 10em;
}
